{

    "cache_dir": "_cache",
    "database": "broadcasthepopcorn.sql",

    "ptp":
    {
        "username": "",
        "password": "",
        "passkey": "",
        "settings":
        {
            "movie_source": "",
            "movie_resolution": ""
        }
    }
}