{
    "cache_dir": "_cache",
    "database": "broadcasthepopcorn.db",
    "torrent_watch": "",
    "torrent_download": "",
    "torrent_dst": "",
    "ptp":
    {
        "username": "",
        "password": "",
        "passkey": "",
        "settings":
        {
            "movie_source": "",
            "movie_resolution": ""
        }
    }
}