{{ template "header" }}
    <div class="three columns sidebar">
        {{ template "sidebar" }}
    </div>

    <div class="thirteen columns content">
        <p>
            Watching:<br>
            You are not watching any movies or TV shows.
        </p>
        <p>
            Recently downloaded:<br>
            You have not recently downloaded any movies or TV shows.
        </p>
            <p>It looks like you haven't downloaded anything yet.<br>
            Get started by adding a <a href="movie">movie</a> or <a href="tv">TV show</a>.
        </p>
    </div>
{{ template "footer" }}